@model IEnumerable<Pro3_Sem3.Models.Food>

@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose Your Food</h1>


<div class="card-columns">
    @foreach (var product in Model)
    {
        <form action="AddToCart" method="post" enctype="multipart/form-data">

            <div class="form-group" hidden>
                <label asp-for="@product.Foodid" class="control-label"></label>
                <input asp-for="@product.Foodid" name="food_id" class="form-control" />

            </div>
            <div class="col-sm-4">
                <img src="~/images/food/@product.Foodimage" alt="" style="width:50%;border-radius:5px" />


                <h2>@product.Foodname</h2>

                <p>$ @product.Foodprice </p>
                <div class="card-footer">

                    <button class="btn btn-primary" asp-action="AddToCart" asp-controller="Cart">Add to Cart</button>
                    <button class="btn btn-primary" asp-action="Cart" asp-controller="Cart"> Show cart</button>
                    <button class="btn btn-primary" asp-action="RemovePayment" asp-controller="Cart">Remove Payment</button>

                </div>
            </div>
        </form>
    }
